@model IEnumerable<OnlineRecipes.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Recipes</h2>



<div class="grid">
    @foreach (var item in Model)
    {
        <div class="card">
            <h3>
                Title: @Html.DisplayFor(modelItem => item.Title)
            </h3>

            @if (!String.IsNullOrEmpty(item.ImageUrl))
            {
                <img src="@Url.Content(item.ImageUrl)"/>
            }

            <p>
                Rating: @Html.DisplayFor(modelItem => item.Rating) / 5
            </p>
            <table class="table">

                <tr>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
            </table>
        </div>


    }
</div>



